body{
    background: transparent;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 400px;
    /* background-image: url(./3.webp); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    box-shadow: 10px 10px 20px black;
    border-radius: 20px;
}
.cus{
    width: 300px;
}

h1{
    color: black;
    text-shadow: 2px 5px 10px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    background: transparent;
    /* color: white; */
    font-size: 20px;
}
.btn{
background: transparent;
color: black;
font-size: 20px;
border-color: black;
}
h6{
    color: blue;
    cursor: pointer;
}
a{
    text-decoration: none;
}